<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grand Invest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f5c7d6a886.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="img/city-solid.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: darkgrey">
<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index">
            <i class="fa-solid fa-house"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Обзор</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Продано</a></li>
                        <li><a class="dropdown-item" href="#">Забронировано</a></li>
                        <li><a class="dropdown-item" href="#">Активно</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Adding tool</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END OF NAVBAR -->

<!-- FILTER -->
<div class="container-sm pt-2 pb-2 px-4 search">


    <div class="row">
        <!-- HOUSE CHOICE -->
        <div class="col-lg-2 border-end border-secondary d-flex align-items-center">
            <div class="row">
                <div class="col-lg-6 pe-0" >
                    <label>Выбрать ЖК</label>
                </div>
                <div class="col-lg-1 ps-1">
                    <label>
                        <select style="width: 90px">
                            <option value="">Выбрать</option>
                            <option value="Nova">Нова</option>
                            <option value="Esil">Есиль</option>
                            <option value="Vremena goda">Времена года</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <!-- END OF HOUSE CHOICE -->

        <!-- PORCH CHOICE -->
        <div class="col-lg-2 border-end border-secondary">
            <div class="row">
                <div class="col-lg-4 ps-3 pt-2 pe-0" >
                    <label>Комнат</label>
                </div>
                <div class="col-lg-3 pe-0">
                    <label class="pt-1">
                        <input class="form-control px-2" max="500" min="0" placeholder="От">
                    </label>
                </div>
                <div class="col-lg-1 pt-2">
                    <label>—</label>
                </div>
                <div class="col-lg-3 ps-3 pe-0">
                    <label class="pt-1">
                        <input class="form-control px-2" max="500" min="0" placeholder="До">
                    </label>
                </div>
            </div>
        </div>
        <!-- END OF PORCH CHOICE -->

        <!-- FLOOR CHOICE -->
        <div class="col-lg-2 border-end border-secondary">
            <div class="row">
                <div class="col-lg-3 ps-3 pt-2 pe-0" >
                    <label>Этаж</label>
                </div>
                <div class="col-lg-3 pe-0">
                    <label class="pt-1">
                        <input class="form-control px-2" max="500" min="0" placeholder="От">
                    </label>
                </div>
                <div class="col-lg-auto pt-2">
                    <label>—</label>
                </div>
                <div class="col-lg-3 ps-0">
                    <label class="pt-1">
                        <input class="form-control px-2" max="500" min="0" placeholder="До">
                    </label>
                </div>
            </div>
        </div>
        <!-- END OF FLOOR CHOICE -->

        <!-- AREA CHOICE -->
        <div class="col-lg-2 border-end border-secondary">
            <div class="row">
                <div class="col-lg-4 ps-2 pt-2 pe-0" >
                    <label>Площадь</label>
                </div>
                <div class="col-lg-3 pe-0">
                    <label class="pt-1">
                        <input class="form-control px-1 py-2" max="500" min="0" placeholder="От" style="font-size: 12px">
                    </label>
                </div>
                <div class="col-lg-1 pt-2 ps-1">
                    <label>—</label>
                </div>
                <div class="col-lg-3 ps-2 pe-0">
                    <label class="pt-1">
                        <input class="form-control px-1 py-2" max="500" min="0" placeholder="До" style="font-size: 12px">
                    </label>
                </div>
            </div>
        </div>
        <!-- END OF AREA CHOICE -->

        <!-- PRICE CHOICE -->
        <div class="col-lg-3 border-end border-secondary">
            <div class="row">
                <div class="col-lg-3 ps-3 pt-2 pe-0" >
                    <label>Цена</label>
                </div>
                <div class="col-lg-3 pe-0 ps-0">
                    <label class="pt-1">
                        <input class="form-control px-2" max="500" min="0" placeholder="От" style="font-size: 14px">
                    </label>
                </div>
                <div class="col-lg-auto pt-2">
                    <label>—</label>
                </div>
                <div class="col-lg-4 ps-0 pe-0">
                    <label class="pt-1">
                        <input class="form-control px-2" max="500" min="0" placeholder="До" style="font-size: 14px">
                    </label>
                </div>
            </div>
        </div>
        <!-- END OF PRICE CHOICE -->

        <div class="col-lg-1">
            <button class="btn btn-primary">ПОИСК</button>
        </div>
    </div>
</div>

<!-- END OF FILTER -->

<!-- PRODUCTION -->
<div class="container-sm pt-3 pb-3 px-4 cont">
    <div class="row">
        <!-- CATEGORY -->
        <div class="col-lg-3 border-bottom border-secondary">
            <ul id="myUL">
                <li><span class="caret">ЖК</span>
                    <ul class="nested">
                        <li><span class="caret">Времена года Осень</span>
                            <ul class="nested">
                                <li><span class="caret">Подъезд 1</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                        <li>Этаж 4</li>
                                        <li>Этаж 5</li>
                                        <li>Этаж 6</li>
                                        <li>Этаж 7</li>
                                        <li>Этаж 8</li>
                                        <li>Этаж 9</li>
                                        <li>Этаж 10</li>
                                    </ul>
                                </li>
                                <li><span class="caret">Подъезд 2</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                        <li>Этаж 4</li>
                                        <li>Этаж 5</li>
                                        <li>Этаж 6</li>
                                        <li>Этаж 7</li>
                                        <li>Этаж 8</li>
                                        <li>Этаж 9</li>
                                        <li>Этаж 10</li>
                                    </ul>
                                </li>
                                <li><span class="caret">Подъезд 3</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                        <li>Этаж 4</li>
                                        <li>Этаж 5</li>
                                        <li>Этаж 6</li>
                                        <li>Этаж 7</li>
                                        <li>Этаж 8</li>
                                        <li>Этаж 9</li>
                                        <li>Этаж 10</li>
                                    </ul>
                                </li><li><span class="caret">Подъезд 4</span>
                                <ul class="nested">
                                    <li>Этаж 1</li>
                                    <li>Этаж 2</li>
                                    <li>Этаж 3</li>
                                    <li>Этаж 4</li>
                                    <li>Этаж 5</li>
                                    <li>Этаж 6</li>
                                    <li>Этаж 7</li>
                                    <li>Этаж 8</li>
                                    <li>Этаж 9</li>
                                    <li>Этаж 10</li>
                                </ul>
                            </li>
                                <li><span class="caret">Подъезд 5</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                        <li>Этаж 4</li>
                                        <li>Этаж 5</li>
                                        <li>Этаж 6</li>
                                        <li>Этаж 7</li>
                                        <li>Этаж 8</li>
                                        <li>Этаж 9</li>
                                        <li>Этаж 10</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><span class="caret">Нова</span>
                            <ul class="nested">
                                <li><span class="caret">Подъезд 1</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                    </ul>
                                </li>
                                <li><span class="caret">Подъезд 2</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                    </ul>
                                </li>
                                <li><span class="caret">Подъезд 3</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><span class="caret">Есиль</span>
                            <ul class="nested">
                                <li><span class="caret">Подъезд 1</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                    </ul>
                                </li>
                                <li><span class="caret">Подъезд 2</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                    </ul>
                                </li>
                                <li><span class="caret">Подъезд 3</span>
                                    <ul class="nested">
                                        <li>Этаж 1</li>
                                        <li>Этаж 2</li>
                                        <li>Этаж 3</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script src="scripts/script.js"></script>
        <!-- END OF CATEGORY -->
    </div>
</div>
<!-- END OF PRODUCTION -->
</body>
</html>
